@media (max-width: 400px) {
  
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
    .imagenprincipal {
      width: 400px;
      

      
    }
  
    .about {   
     display: grid;
     grid-template-columns: 350px;
     grid-template-rows: 400px 400px 250px;
     row-gap: 20px;
     
      
      
    }
  
    .about_img {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start:2;
      grid-row-end:2;
      width: 300px;
      height: 350px;
    }
  
    .about_article {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start:1;
      grid-row-end:1;
    }
  
    .about_video {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start:3;
      grid-row-end:3;
    }
  
    .container {
      display: grid;
      grid-template-columns: 300px 20px;
      grid-template-rows: 200px 300px;
      row-gap: 50px;
      column-gap: 10px;
      
            
    }
  
    .grid-item1 {
      padding: 10px;
      grid-column-start: 1;
      grid-column-end: 2;
      
    }
  
    .grid-item2 {    
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 2;
    }
  
    .grid-item3 {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 2;
  }
}
  

